<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">Our Amazing Team</h2> -->
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">The team that collaborated on the written portion of my pulmonary function thesis.</h3> -->
                    <h3 class="section-subheading text-muted">Louis Coleman encourages clients to rethink their design, process and service by helping them break free from preconceived ideas, refesh team creativity with solutions that make the final product or research highly competitive, and maximize savings passed on to consumers by helping management minimize project risk.</h3>
                    <!-- <h3 class="section-subheading text-muted">I am a highly motivated entrepreneur, developer, engineer, and physicist that aims to work with companies that are looking for an edge. Having roots in many scientific, engineering, and computer fields allows me to bring something unique to the table. I can cater my services specifically to meet your broad technical needs and exceed your expectations.</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>
