<!-- Services Section -->
    <a href="#services" class="col-lg-12 btn-block text-center intro-heading page-scroll btn btn-xl">Site Under Construction</a>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">These services are all about you with the understanding that unique, individual attention is paramount to your success.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-cubes fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">Do you think you and your clients can rethink possible by adding new dimensionality to your software using advanced science, technology, engineering and mathematics (STEM) insight? Watch it become reality by incorporating modern data acquisition techniques, data science, research, modeling, and statistical analysis to mobile/wearable sensor and user data? Please don't hesitate to read how such insight made the sleep counter app possible.<!--3 lines skips to make service elements even with eachother--></p>
                    <!-- <p class="text-muted">Incorporating my advanced science degrees and backgrounds in biomedical engineering, electrical engineering, and data modeling to build mobile applications beyond the capabilities of devshops. eeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeeeee</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-subscript fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Modeling and Simulation</h4>
                    <p class="text-muted">Have you ever wondered if there are ways to reduce cost and risk to clients, consumers, and patients? Realize your dreams as you learn new ways to resarch and develope while cutting project cost thru the art and science of modeling and simulation. Feel free to read more about how modeling and simulation optimized pulmonary function test and superconductor experiments in the portfolio<br><!--thin film produciton,grain size distribution for a crystallized thin films, technique spin coating, model fitting in advanced computer notes  -->.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experimentation</h4>
                    <!-- <p class="text-muted">Research and experimentation in any pursuit
                          while using the latest data-acquisition techniques. From condensed matter physics to medical testing. My experience spans the physics, biomedical, and electrical engineering universe.<br><br><br><br><br><!--3 lines skips to make service elements even with eachother</p> -->
                    <p class="text-muted"> Have you ever dreamt about learning how to make your product stronger, faster, sturdier, or more reliable, while reducing production cost. All are achievable by designing, researching, developing, testing and integrate your product thanks to current data-acquisition hardware and the understanding of modern condensed matter experimental physics and engineering techniques.<br><br><br></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-flask fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Presentation</h4>
                    <p class="text-muted">Creating gorgeous, publishing quality figures, journal articles, standard operating procedures, and project reports to satisfy your standards for professionalism.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">Guiding your project from point A to point B in a way that epitomizes efficiency when it comes to cost savings and man hours.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electrical Design and Testing</h4>
                    <p class="text-muted">Satisfying your design and test needs with wide experience in analog and digital circuit design and embeddeded systems development.</p>
                </div>
            </div>
        </div>
    </section>
