<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">My services are all about you. I understand that unique, individual attention is paramount to your success.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-cubes fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">Incorporating my advanced science degrees and backgrounds in biomedical engineering, electrical engineering, and data modeling to build mobile applications beyond the capabilities of devshops.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-subscript fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Modeling and Simulation</h4>
                    <p class="text-muted">Using the art and science of modeling and simulation to improve your products or advance your research. Applying what I have learned from my research on grain size distrubition for a crystallized thin films to the mechanical function of the human respiratory system.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experimentation</h4>
                    <p class="text-muted">Ready to help you research and experiment in any field of science or engineering while using the latest data-acquisition techniques. From condensed matter physics to medical testing. My experience spans the physics, biomedical, and electrical engineering universe.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-flask fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Presentation</h4>
                    <p class="text-muted">I will create gorgeous, publishing quality figures, journal articles, standard operating procedures, and project update reports to satisfy your standards for professionalism.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">Let me guide your project from point A to point B in a way that epitomizes efficiency when it comes to cost savings and man hours.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electrical Design and Testing</h4>
                    <p class="text-muted">I can satisfy your design and test needs because of my wide experience in analog and digital circuit design and embeddeded systems development.</p>
                </div>
            </div>
        </div>
    </section>
